body, input, button {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

input[type="submit"], button {
    background-color: #5e97d1;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    width: auto; /* Adjust the button width as per your design or keep it full width */
    display: inline-block;
}

input[type="submit"]:hover, button:hover {
    background-color: #4b81bf;
}

#greeting {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
}

/* Added a new class for the button to customize its look */
.collect-love-button {
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #ff4571;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.collect-love-button:hover {
    background-color: #ff6384;
}

.heart {
    position: fixed;
    width: 100px;
    height: 90px;
    animation: fall linear forwards;
    animation-duration: 5s; /* you can adjust the duration as desired */
    top: -90px; /* start position just above the viewport - adjust as needed */
    z-index: 10; /* ensures it is above other elements */
}

.heart::before, .heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: #ff6347;
}

.heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes fall {
    to {
        top: 110vh; /* changes the final position to below the viewport */
    }
}

/* Theme toggle styles */
.theme-toggle-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.theme-toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-toggle-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.theme-toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .theme-toggle-slider {
    background-color: #5e97d1;
}

input:checked + .theme-toggle-slider:before {
    transform: translateX(26px);
}

/* Adjusted Dark theme styles */
.dark-theme {
    background-color: #1f1f1f; /* Lightened the background color from #121212 */
    color: #e0e0e0; /* Changed the text color for better contrast and readability */
}

.dark-theme h1 {
    color: #d0d0d0; /* Lightened the header text for better contrast */
}

.dark-theme form {
    background-color: #2a2a2a; /* Lightened the form background color */
    color: #ececec; /* Changed the form text color for better readability */
}

.dark-theme .theme-toggle-slider {
    background-color: #3a3a3a; /* Lightened the theme toggle slider color */
}

/* Light theme styles */
.light-theme {
    background-color: #f5f5f5;
    color: #444;
}

.light-theme h1 {
    color: #5e97d1;
}

.light-theme form {
    background-color: #fff;
}

.light-theme .theme-toggle-slider {
    background-color: #ccc;
}

/* Additional styles for the emoji toggle */
.theme-toggle-label .theme-toggle-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    /* This has been added to ensure emojis icons don't go outside the toggle slider */
    overflow: hidden; 
}

.theme-toggle-label .theme-toggle-slider::before,
.theme-toggle-label .theme-toggle-slider::after {
    position: static; /* remove this rules because emojis will be used instead */
    content: none; /* remove this rules because emojis will be used instead */
}

/* Styles for the light and dark emojis */
.theme-toggle-slider .emoji {
    color: #000;
    font-size: 18px;
}

/* Light theme with sun emoji */
.light-theme .theme-toggle-slider .emoji.sun {
    display: none;
}

.light-theme .theme-toggle-slider {
    justify-content: flex-end;
}

/* Dark theme with moon emoji */
.dark-theme .theme-toggle-slider .emoji.moon {
    display: none;
}

.dark-theme .theme-toggle-slider {
    justify-content: flex-start;
}
